body {
  font-family: "Lato", Arial, sans-serif;
}

p {
  color: #8f8f8f;
}

/* Containers */
.container-fluid {
  padding: 0 10% 3%;
}

.container-2 {
  padding: 7% 15%;
}

.container-press {
  padding: 0 15% 2%;
}

.container-cta {
  padding: 10% 15%;
}

/* Buttons */
.btnPurchase {
  margin-top: 3%;
}


/* Title */
.navbar {
  padding-left: 0;
  padding-right: 0;
}

#title {
  background-color: #FBD51A;
  color: #FFF;
}

#title .navbar-brand {
  font-family: "Righteous";
}

#title div.row {
  margin-top: 5%;
}

#title div.row h1 {
  line-height: 1.4;
  font-weight: bold;
}

.img-div {
  transform: translate(20%, -10%);
}

.mainImg {
  width: 45%;
  transform: rotate(-90deg);
}

/* Benefits/ Powerhouse */
#benefits {
  text-align: center;
  padding: 10% 0;
}

.font-icon {
  color: #F00;
  font-size: 4rem;
}

.font-icon:hover {
  color: #8A0303;
}

/* testamonial*/
#testamonial {
  background-color: #CEC434;
  color: #FFF;
  text-align: center;
}

#testamonial h2 {
  font-weight: 900;
  line-height: 1.5;
}

#testamonial img {
  width: 10%;
  border-radius: 50%;
}

/* Press */
#press {
  background-color: #CEC434;
  text-align: center;
}

#press img {
  width: 20%;
}

/* Information */
#information {
  text-align: center;
}

#information h2 {
  font-weight: 900;
  font-size: 3rem;
}

/* CTA - call to action */
#cta {
  background-color: #C38A3D;
  color: #FFF;
  text-align: center;
}

#cta h2 {
  font-weight: 900;
  font-size: 3.5rem;
  line-height: 1.5;
}

/* Footer */
#footer {
  text-align: center;
  margin-top: 8%;
  margin-bottom: 2%;
}

.social-icons {
  margin-left: 20px;
  margin-right: 20px;
  font-size: 1.2rem;
}

/* Media Queries */
@media screen and (max-width:996px) {
  #title {
    text-align: center;
  }

  .img-div {
    transform: translate(0, 0);
  }
}
